# Maven build
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Mantener Maven Wrapper en el repo
mvnw
mvnw.cmd
!.mvn/wrapper/maven-wrapper.jar

# Compilados, artefactos y logs
*.class
*.log
hs_err_pid*
*.jar
*.war
*.ear

# IDEs / editores
### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Gradle / build dirs
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Otros
HELP.md
