.box{
    justify-content: center;
}
.container{
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 40px 0px;
    border-radius: 15px;
    background-color: #15638f;
    box-shadow: 3px 3px 9px 3px #000;
}
.container.h1{
    color:#fff;
}
.card{
    border-radius: 30px;
    box-shadow: 5px 5px 15px 5px #000;
    background-color: #4a568a;
}